
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* prettier-ignore */
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
}

/* prettier-ignore */
ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container-section-one {
  background-color: #F4F7FC;
  text-align:center;

}

.container-style {
  padding: 100px 0;
  
}

.content-header:first-child {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  margin: 0 auto;

}

.content-section-one {
  display: inline-block;
}

.content-section-one > h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.content-section-one > p {
  font-size: 1rem;

}


.content-section-one > a {
  display: inline-block;
  margin: 1.5rem 0;
  padding: 1rem 2rem;
  color: #386BF3;
  background-color: #ffffff;
  width: 100%;
  text-decoration: none;
  
}

.content-section-one > a:visited {
  color: color: #386BF3;
}

.container-brand-logo {
  display: flex;
  align-items: flex-end;
}

.content-header {
  justify-items: center;
}

.content-header-left {
  margin-top: 25px;
}

.content-header-right > img {
  border-radius: 8px;
  box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25), 0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
}

.container-brand-logo h1{
  font-size: 42px;
  font-weight: 600;
}

.container-brand-logo img{
  margin-right: 20px;
}

.brand-description {
  font-weight: 300;
  margin-top: 1.2rem;
}

/***Section 2***/

.container-section-two {
  max-width: 1400px;
  margin: 0 auto;
}

.content-section-two {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3em;
  width: 80%;
  margin: 0 auto;
  
}

.content-section-two-left > h2 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.content-section-two-left > p {
  font-size: 1rem;
}

.content-section-two-left > p > span {
  padding: 4px 6px;
  font-size: 90%;
  color: hsl(0, 0%, 23.7%);
  background-color: hsl(0, 0%, 94.9%);
  border-radius: 4px;
}

.content-section-two-left > a {
  display: inline-block;
  margin: 1.5rem 0;
  padding: 1rem 2rem;
  background-color: hsl(210, 14.3%, 93.3%);
  width: 100%;

}

.content-section-two-left  a {
  color: #386BF3;
  text-decoration: none;
}

.content-section-two-left a:visited {
  color: #386BF3;
}

.content-section-two-right > img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25), 0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
}


/***Section 3***/

.container-section-three {
  max-width: 1400px;
  margin: 0 auto;
}

.content-section-three {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3em;
  width: 80%;
  margin: 0 auto;
  
}

.content-section-three-left > h2 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.content-section-three-left > p {
  font-size: 1rem;
}

.content-section-three-left > p > span {
  padding: 4px 6px;
  font-size: 90%;
  color: hsl(0, 0%, 23.7%);
  background-color: hsl(0, 0%, 94.9%);
  border-radius: 4px;
}


.content-section-three-left > a {
  display: inline-block;
  margin: 1.5rem 0;
  padding: 1rem 2rem;
  background-color: hsl(210, 14.3%, 93.3%);
  width: 100%;
  
}

.content-section-three-left  a {
  color: #386BF3;
  text-decoration: none;
}

.content-section-three-left a:visited {
  color: #386BF3;
}

.content-section-three-right > img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25), 0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
}

/***Section 4***/

.container-section-four {
  max-width: 1400px;
  margin: 0 auto;
}

.content-section-four {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3em;
  width: 80%;
  margin: 0 auto;
  
}

.content-section-four-left > h2 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.content-section-four-left > p {
  font-size: 1rem;
}

.content-section-four-left > p > span {
  padding: 4px 6px;
  font-size: 90%;
  color: hsl(0, 0%, 23.7%);
  background-color: hsl(0, 0%, 94.9%);
  border-radius: 4px;
}


.content-section-four-left > a {
  display: inline-block;
  margin: 1.5rem 0;
  padding: 1rem 2rem;
  background-color: hsl(210, 14.3%, 93.3%);
  width: 100%;
  
}

.content-section-four-left  a {
  color: #386BF3;
  text-decoration: none;
}

.content-section-four-left a:visited {
  color: #386BF3;
}

.content-section-four-right > img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25), 0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
}

/***Section 5***/

.container-section-five {
  max-width: 1400px;
  margin: 0 auto;
}

.content-section-five {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3em;
  width: 80%;
  margin: 0 auto;
  
}

.content-section-five-left > h2 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.content-section-five-left > p {
  font-size: 1rem;
}

.content-section-five-left > p > span {
  padding: 4px 6px;
  font-size: 90%;
  color: hsl(0, 0%, 23.7%);
  background-color: hsl(0, 0%, 94.9%);
  border-radius: 4px;
}


.content-section-five-left > a {
  display: inline-block;
  margin: 1.5rem 0;
  padding: 1rem 2rem;
  background-color: hsl(210, 14.3%, 93.3%);
  width: 100%;
  
}

.content-section-five-left  a {
  color: #386BF3;
  text-decoration: none;
}

.content-section-five-left a:visited {
  color: #386BF3;
}

.content-section-five-right > img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25), 0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
}

/***Section 7***/

#anchor-as-text {
  display: inline-block;
  margin: 1.5rem 0;
  padding: 1rem 2rem;
  background-color: hsl(210, 14.3%, 93.3%);
  width: 100%;
}

.container-section-six {
  max-width: 1400px;
  margin: 0 auto;
}

.content-section-six {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3em;
  width: 80%;
  margin: 0 auto;
  
}

.content-section-six-left > h2 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.content-section-six-left > p {
  font-size: 1rem;
}

.content-section-six-left > p > span {
  padding: 4px 6px;
  font-size: 90%;
  color: hsl(0, 0%, 23.7%);
  background-color: hsl(0, 0%, 94.9%);
  border-radius: 4px;
}


.content-section-six-left > a {
  display: inline-block;
  margin: 1.5rem 0;
  padding: 1rem 2rem;
  background-color: hsl(210, 14.3%, 93.3%);
  width: 100%;
  
}

.content-section-six-left  a {
  color: #386BF3;
  text-decoration: none;
}

.content-section-six-left a:visited {
  color: #386BF3;
}

.content-section-six-right > img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25), 0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
}

#anchor-as-text {
  display: inline-block;
  margin: 1.5rem 0;
  padding: 1rem 2rem;
  background-color: hsl(210, 14.3%, 93.3%);
  width: 100%;
}

.container-section-seven {
  max-width: 1400px;
  margin: 0 auto;
}

.content-section-seven {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3em;
  width: 80%;
  margin: 0 auto;
  
}

.content-section-seven-left > h2 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.content-section-seven-left > p {
  font-size: 1rem;
}

.content-section-seven-left > p > span {
  padding: 4px 6px;
  font-size: 90%;
  color: hsl(0, 0%, 23.7%);
  background-color: hsl(0, 0%, 94.9%);
  border-radius: 4px;
}


.content-section-seven-left > a {
  display: inline-block;
  margin: 1.5rem 0;
  padding: 1rem 2rem;
  background-color: hsl(210, 14.3%, 93.3%);
  width: 100%;
  
}

.content-section-seven-left  a {
  color: #386BF3;
  text-decoration: none;
}

.content-section-seven-left a:visited {
  color: #386BF3;
}

.content-section-seven-right > img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25), 0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
}

pre {
  box-shadow: 0 0 0 1px hsla(240, 30.1%, 28%, 0.05), 0 2px 5px 0 hsla(240, 30.1%, 28%, 0.1), 0 1px 1px 0 hsla(0, 0%, 0%, 0.07);
  background: white;
  padding:0 18px;
  font-size:14px;
  border-radius: 4px;
  margin-top:1em;
  margin-bottom:2em;
  width:100%;
  font-family: 'Courier Prime', monospace;
}

pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0; 
}

/***Section 8***/

#anchor-as-text {
  display: inline-block;
  margin: 1.5rem 0;
  padding: 1rem 2rem;
  background-color: hsl(210, 14.3%, 93.3%);
  width: 100%;
}

.container-section-six {
  max-width: 1400px;
  margin: 0 auto;
}

.content-section-six {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3em;
  width: 80%;
  margin: 0 auto;
  
}

.content-section-six-left > h2 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.content-section-six-left > p {
  font-size: 1rem;
}

.content-section-six-left > p > span {
  padding: 4px 6px;
  font-size: 90%;
  color: hsl(0, 0%, 23.7%);
  background-color: hsl(0, 0%, 94.9%);
  border-radius: 4px;
}


.content-section-six-left > a {
  display: inline-block;
  margin: 1.5rem 0;
  padding: 1rem 2rem;
  background-color: hsl(210, 14.3%, 93.3%);
  width: 100%;
  
}

.content-section-six-left  a {
  color: #386BF3;
  text-decoration: none;
}

.content-section-six-left a:visited {
  color: #386BF3;
}

.content-section-six-right > img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25), 0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
}

#anchor-as-text {
  display: inline-block;
  margin: 1.5rem 0;
  padding: 1rem 2rem;
  background-color: hsl(210, 14.3%, 93.3%);
  width: 100%;
}

.container-section-eight {
  max-width: 1400px;
  margin: 0 auto;
}

.content-section-eight {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3em;
  width: 80%;
  margin: 0 auto;
  
}

.content-section-eight-left > h2 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.content-section-eight-left > p {
  font-size: 1rem;
}

.content-section-eight-left > p > span {
  padding: 4px 6px;
  font-size: 90%;
  color: hsl(0, 0%, 23.7%);
  background-color: hsl(0, 0%, 94.9%);
  border-radius: 4px;
}


.content-section-eight-left > a {
  display: inline-block;
  margin: 1.5rem 0;
  padding: 1rem 2rem;
  background-color: hsl(210, 14.3%, 93.3%);
  width: 100%;
  
}

.content-section-eight-left  a {
  color: #386BF3;
  text-decoration: none;
}

.content-section-eight-left a:visited {
  color: #386BF3;
}

.content-section-eight-right > img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25), 0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
}

pre {
  box-shadow: 0 0 0 1px hsla(240, 30.1%, 28%, 0.05), 0 2px 5px 0 hsla(240, 30.1%, 28%, 0.1), 0 1px 1px 0 hsla(0, 0%, 0%, 0.07);
  background: white;
  padding:0 18px;
  font-size:14px;
  border-radius: 4px;
  margin-top:1em;
  margin-bottom:2em;
  width:100%;
  font-family: 'Courier Prime', monospace;
}

pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0; 
}


/***Footer 8***/

footer {
  text-align: center;
  background: hsl(0, 0%, 0%);
  padding: 100px 0;
  margin-top: 100px;
}

.sponsor {
  height: auto;
  width: 230px;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}